# Unreal Engine files to ignore
*.uasset
*.umap
*.fbx
*.wav
*.mp4
*.avi
*.mov
*.psd
*.tga
*.blend
*.obj
*.3ds
*.max

# Intermediate and Saved folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Build config files
.vs/
.vscode/
*.sln
*.suo
*.user
*.userosscache
*.sdf
*.ipch
*.opensdf
*.VC.db

# Git
.gitattributes
